{% extends 'base.html' %}
{% block content %}
<div class="global-container">
	<div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center text-success">Reset Password</h3>            
            <div class="card-text">                
                {% if messages %}
                    {% for message in messages  %}
                    <div class="alert alert-info">
                        {{message}}                        
                    </div>		
                    {% endfor %}
                {% endif %}
                <form action="" method="post">			
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">Enter Username</label>                        
                        <input type="text" name="username" placeholder="Enter username here..."class="form-control">
                    </div>                
                    <button class="btn btn-warning" type="submit">Reset My Password</button>				
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}